@charset "UTF-8";

body{
	background-color:white;
}
header{
	border:pink 2px solid; height:20%; position:relative;
}

#content{
	margin:10px 9px 50px; height:65%; background-color:pink;
}
#areaMain{
	position:relative; float:right; padding:10px 0;
	border:#pink 3px sold; width:75%;
}
#areaSub{
	border:pink 3px sold; width:20%; float:left;
}

footer{
	border:pink 3px dotted; clear:both; height:30%;
}